In [9]:
import numpy as np #v2.0.1 print(np.__version__)
import pandas as pd #v2.2.2

pd.DataFrame({'A': [1,2,3,4,5], 'B': [6,7,8,9,10]})

2.0.1

   A   B
0  1   6
1  2   7
2  3   8
3  4   9
4  5  10

In [31]:
# example s = pd.Series(data, index=index)
s = pd.Series(np.random.randn(5), index=["a", "b", "c", "d", "e"])

print(f"Here's the data:\n {s} with datatype {s.dtype} \n And here's the index value:\n {s.index} which has dtype of {s.dtype}")

Here's the data:
 a   -1.584128
b    0.730695
c   -0.076226
d    1.067644
e    1.033174
dtype: float64 with datatype float64
 And here's the index value:
 Index(['a', 'b', 'c', 'd', 'e'], dtype='object') which has dtype of float64

In [38]:
d = {"a": 0, "b":2, "c":2}
pd.Series(d, index=["b","c","d", "a"])

b    2.0
c    2.0
d    NaN
a    0.0
dtype: float64

# Series in nd array like

In [54]:
print(s) # a,b,c,d,e

#index starts at 0 just like in arrays
print(s.iloc[:3]) # 0-2 a,b,c
print(s.iloc[1:3]) # 1-2 b,c
print(s.iloc[[1,2]]) #1 and 2	b,c 

print(s.dtype) #float 64

# change to numpy 
np_arr = s.to_numpy()
np_arr

a   -1.584128
b    0.730695
c   -0.076226
d    1.067644
e    1.033174
dtype: float64
a   -1.584128
b    0.730695
c   -0.076226
dtype: float64
b    0.730695
c   -0.076226
dtype: float64
b    0.730695
c   -0.076226
dtype: float64
float64

array([-1.58412766,  0.73069523, -0.07622551,  1.06764419,  1.0331738 ])

## Accessing values like object
Apart from position index, the index can be used as key to retrieve value

In [58]:
print(s)

print(s["e"]) # shoudl print 1.033...
print("e" in s) #true
print("r" in s) #false

a   -1.584128
b    0.730695
c   -0.076226
d    1.067644
e    1.033174
dtype: float64
1.0331737969071968
True
False

## get value by get methods

In [70]:
print(s)
s.get('f', False) #if not value is available can return None or custom provided value

print(s.get('f')) #None

a   -1.584128
b    0.730695
c   -0.076226
d    1.067644
e    1.033174
dtype: float64
None

## Series can be operated just like numpy arrays, and cal also be passed into numpy methods as arguments, just like numpy arrays

In [71]:
print(s)
print(s+s)

a   -1.584128
b    0.730695
c   -0.076226
d    1.067644
e    1.033174
dtype: float64
a   -3.168255
b    1.461390
c   -0.152451
d    2.135288
e    2.066348
dtype: float64

In [72]:
print(s*2)

a   -3.168255
b    1.461390
c   -0.152451
d    2.135288
e    2.066348
dtype: float64

In [73]:
print(np.exp(s))

a    0.205127
b    2.076524
c    0.926607
d    2.908520
e    2.809970
dtype: float64

In [94]:
s = pd.Series(np.random.randn(5), name="original_OP")
print(s)
# print(s.iloc[1:])
# print(s.iloc[:-1])
print(s.iloc[1:] + s.iloc[:-1])
s2 = s.rename('renamed_OP')
print(s2)
print(s)

0   -0.220614
1    0.460830
2    0.567787
3   -0.225063
4    0.383470
Name: original_OP, dtype: float64
0         NaN
1    0.921660
2    1.135574
3   -0.450126
4         NaN
Name: original_OP, dtype: float64
0   -0.220614
1    0.460830
2    0.567787
3   -0.225063
4    0.383470
Name: renamed_OP, dtype: float64
0   -0.220614
1    0.460830
2    0.567787
3   -0.225063
4    0.383470
Name: original_OP, dtype: float64

## DataFrame
A dataframe is a 2 dimensional labeled data structure with columns each of different types.

In [109]:

data = {
	'one': pd.Series([1,2,3,4,5], index=["a", "b", "c", "d", "e"]),
	'two': pd.Series([6,7,8,9,10, 11, 12], index=["a", "b", "c", "d", "e", "f", "g"])
}
df = pd.DataFrame(data)
pd.DataFrame(data)

   one  two
a  1.0    6
b  2.0    7
c  3.0    8
d  4.0    9
e  5.0   10
f  NaN   11
g  NaN   12

In [106]:
pd.DataFrame(data, index=["d", "b", "a"], columns=["two", "three", "four"])

   two three four
d    9   NaN  NaN
b    7   NaN  NaN
a    6   NaN  NaN

For the dataFrame, Index and columns can be printed as follows:

In [111]:
df.index

Index(['a', 'b', 'c', 'd', 'e', 'f', 'g'], dtype='object')

In [110]:
df.columns

Index(['one', 'two'], dtype='object')

In [112]:
df

   one  two
a  1.0    6
b  2.0    7
c  3.0    8
d  4.0    9
e  5.0   10
f  NaN   11
g  NaN   12

In [132]:
data = np.zeros((2,), dtype=[("Rank", "i2"), ("Marks", "f4"), ("Remarks", "S30")])
data[:] = [(1, 2.5, "Well done"), (5, 10.4, "This is poor performance")]

print(data)

pd.DataFrame(data, index=["first", "second"])

[(1,  2.5, b'Well done') (5, 10.4, b'This is poor performance')]

        Rank  Marks                      Remarks
first      1    2.5                 b'Well done'
second     5   10.4  b'This is poor performance'

In [212]:
dd = pd.DataFrame(data, columns=["Marks", "Remarks", "Rank"])

In [213]:
# if dd["Marks"] > 4 dd["Results"] = "Pass" else dd["Results"] = "Fail"

dd["Results"] = np.where(dd["Marks"] > 4, 'Passed', 'Failed')

dd

   Marks                      Remarks  Rank Results
0    2.5                 b'Well done'     1  Failed
1   10.4  b'This is poor performance'     5  Passed

# Delete a column
Use pop or delete methods