In [9]:
import numpy as np #v2.0.1 print(np.__version__)
import pandas as pd #v2.2.2

pd.DataFrame({'A': [1,2,3,4,5], 'B': [6,7,8,9,10]})

2.0.1

   A   B
0  1   6
1  2   7
2  3   8
3  4   9
4  5  10

In [31]:
# example s = pd.Series(data, index=index)
s = pd.Series(np.random.randn(5), index=["a", "b", "c", "d", "e"])

print(f"Here's the data:\n {s} with datatype {s.dtype} \n And here's the index value:\n {s.index} which has dtype of {s.dtype}")

Here's the data:
 a   -1.584128
b    0.730695
c   -0.076226
d    1.067644
e    1.033174
dtype: float64 with datatype float64
 And here's the index value:
 Index(['a', 'b', 'c', 'd', 'e'], dtype='object') which has dtype of float64